[linkedin-results-filter-ext='ok'] {
	background-color: rgba(0, 255, 0, 0.2) !important;
}

[linkedin-results-filter-ext='err'] {
	background-color: rgba(255, 0, 0, 0.1) !important;
}

[linkedin-results-filter-ext='hidden'] {
	display: none
}