[linkedin-results-filter-ext='ok'] {
	background-color: rgba(0, 255, 0, 0.05) !important;
}

[linkedin-results-filter-ext='err'] {
	background-color: rgba(255, 0, 0, 0.1) !important;
}

[linkedin-results-filter-ext='promoted'] {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: grey !important;
  font-style: italic !important;
}

[linkedin-results-filter-ext='hidden'] {
  display:none !important;
}

/* OVERRIDES */
.job-card-list__insight {
  display:none !important;
}
